
/Exe
/Temp
/Fontes/__history
/Fontes/src/Controller/Services/__history
/Fontes/src/Model/Connection/__history
/Fontes/src/Model/DAO/__history
/Fontes/src/Model/DataModule/__history
/Fontes/src/Model/Entity/__history
/Fontes/src/Model/Entity/Consulta/__history
/Fontes/src/Model/Entity/Lancamento/__history
/Fontes/src/Model/Exceptions/__history
/Fontes/src/Model/Ini/__history
/Fontes/src/Model/ORM/__history
/Fontes/src/Model/Services/__history
/Fontes/src/Model/Types/__history
/Fontes/src/View/__history
/Fontes/src/Model/Entity/Relatorio/__history
Fontes/PostoABC.dproj.local
Fontes/PostoABC.dproj.local
/Fontes/src/Model/Funcoes/__history
/Fontes/src/Controller/__history
/Fontes/src/Model/Connection/FireDAC/__history
